@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Who's birthday is it?'</h1>
    <p>Never forget to sent happy birthday wishes again when you can track them.</p>
    <img src="~/Images/cake-1835443_1280.jpg" />
</div>
